/*!
  Theme: GitHub Dark
  Description: Dark theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-dark
  Current colors taken from GitHub's CSS
*/

pre:has(.hljs), .hljs {
  color: var(--code-foreground);
  background: var(--code-background);
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: var(--code-syntax-keyword);
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: var(--code-syntax-function);
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  color: var(--code-syntax-constant);
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  color: var(--code-syntax-string);
}

.hljs-built_in,
.hljs-symbol {
  color: var(--code-syntax-variable);
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  color: var(--code-syntax-comment);
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  color: var(--code-syntax-tag);
}

.hljs-subst {
  color: var(--code-foreground);
}

.hljs-section {
  color: var(--code-syntax-heading);
  font-weight: bold;
}

.hljs-bullet {
  color: var(--code-syntax-list);
}

.hljs-emphasis {
  color: var(--code-foreground);
  font-style: italic;
}

.hljs-strong {
  color: var(--code-foreground);
  font-weight: bold;
}

.hljs-addition {
  color: var(--code-syntax-added-fg);
  background-color: var(--code-syntax-added-bg);
}

.hljs-deletion {
  color: var(--code-syntax-removed-fg);
  background-color: var(--code-syntax-removed-bg);
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
}
